table.LL-Table {
  width: 100%;
  display: flex;
  border-collapse: collapse;
}

.LL-TableSectionRow {
  padding: 1rem;
  border: 1px solid white;
}

.LL-TableSectionHead {
  padding: 1rem;
  border: 1px solid white;
}

.LL-TableCell {
  padding: 1rem;
  color: white;
}
@media only screen and (max-width: 1000px) {
  table.LL-Table {
    overflow-x: scroll;
    overscroll-behavior-x: contain;
  }
}
